<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<!-- Connection for SQl -->
		<add name="DBCon" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\james\Desktop\OOP Assingments\Hospital Managament System\Hospital Managament System\Hospital.mdf;Integrated Security=True"/>
	</connectionStrings>
	
	
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>